.DS_Store
*.user
*.tmp
*.log
/.idea/
/.vscode/
/.vs/
/.cache/
/Library/
/Logs/
/Temp/
/Obj/
/Build/
/Builds/
/TestResults/
/TestResults.meta
*.csproj
*.sln
*.suo
*.userprefs

/TestProject~/Library/
/TestProject~/Logs/
/TestProject~/Temp/
/TestProject~/Obj/
/TestProject~/Build/
/TestProject~/Builds/
/TestProject~/TestResults/
/TestProject~/TestResults~/
/TestProject~/UserSettings/
/TestProject~/MemoryCaptures/
/TestProject~/.audiolink_pipeline
/TestProject~/ProjectSettings/*
!/TestProject~/ProjectSettings/ProjectVersion.txt
/TestProject~/Assets/MfvTestFixtures/Baked/
/TestProject~/Assets/MfvTestFixtures/Baked.meta
/TestProject~/Assets/UdonSharp/
/TestProject~/Assets/UdonSharp.meta
/TestProject~/Assets/SerializedUdonPrograms/
/TestProject~/Assets/SerializedUdonPrograms.meta
/TestProject~/Assets/XR/
/TestProject~/Assets/XR.meta
/TestProject~/Assets/UniversalRenderPipelineGlobalSettings.asset
/TestProject~/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
/TestProject~/Packages/com.vrchat.base/
/TestProject~/Packages/com.vrchat.worlds/
/TestProject~/Packages/com.acchosen.vr-stage-lighting/
/TestProject~/Packages/com.llealloo.audiolink/

/DemoProject~/.vscode/
/DemoProject~/.audiolink_pipeline
/DemoProject~/Library/
/DemoProject~/Logs/
/DemoProject~/Temp/
/DemoProject~/Obj/
/DemoProject~/Build/
/DemoProject~/Builds/
/DemoProject~/TestResults/
/DemoProject~/TestResults~/
/DemoProject~/UserSettings/
/DemoProject~/MemoryCaptures/
/DemoProject~/Assets/SerializedUdonPrograms/
/DemoProject~/Assets/SerializedUdonPrograms.meta
/DemoProject~/Assets/UdonSharp/
/DemoProject~/Assets/UdonSharp.meta
/DemoProject~/Assets/XR/
/DemoProject~/Assets/XR.meta
/DemoProject~/Assets/UniversalRenderPipelineGlobalSettings.asset
/DemoProject~/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
/DemoProject~/Packages/com.vrchat.base/
/DemoProject~/Packages/com.vrchat.worlds/
/DemoProject~/Packages/com.acchosen.vr-stage-lighting/
/DemoProject~/Packages/com.llealloo.audiolink/
/DemoProject~/Packages/com.anatawa12.apple-silicon-harmony/
