.DS_Store
*.user
*.tmp
*.log
/.idea/
/.vscode/
/.vs/
/.cache/
/Library/
/Logs/
/Temp/
/Obj/
/Build/
/Builds/
/TestResults/
/TestResults.meta
/scripts.meta
/scripts/*.meta
*.csproj
*.sln
*.suo
*.userprefs

/TestProject~/Library/
/TestProject~/Logs/
/TestProject~/Temp/
/TestProject~/Obj/
/TestProject~/Build/
/TestProject~/Builds/
/TestProject~/TestResults/
/TestProject~/TestResults~/
/TestProject~/UserSettings/
/TestProject~/MemoryCaptures/
/TestProject~/.audiolink_pipeline
/TestProject~/ProjectSettings/*
!/TestProject~/ProjectSettings/ProjectVersion.txt
/TestProject~/Assets/MfvTestFixtures/Baked/
/TestProject~/Assets/MfvTestFixtures/Baked.meta
/TestProject~/Assets/UdonSharp/
/TestProject~/Assets/UdonSharp.meta
/TestProject~/Assets/SerializedUdonPrograms/
/TestProject~/Assets/SerializedUdonPrograms.meta
/TestProject~/Assets/XR/
/TestProject~/Assets/XR.meta
/TestProject~/Assets/UniversalRenderPipelineGlobalSettings.asset
/TestProject~/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
/TestProject~/Packages/com.vrchat.base/
/TestProject~/Packages/com.vrchat.worlds/
/TestProject~/Packages/com.acchosen.vr-stage-lighting/
/TestProject~/Packages/com.llealloo.audiolink/
